<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <jmxConfigurator/>

    <statusListener class="ch.qos.logback.core.status.OnConsoleStatusListener" />

    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d [%t] %-5p %c - %m %ex%n</pattern>
        </encoder>
    </appender>
    <appender name="ROLLING_FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <!--See http://logback.qos.ch/manual/appenders.html#RollingFileAppender-->
        <!--and http://logback.qos.ch/manual/appenders.html#TimeBasedRollingPolicy-->
        <!--for further documentation-->
        <File>${user.dir}/logs/tomcat-manager-cmd-test.log</File>
        <Append>true</Append>
        <encoder>
            <pattern>%d [%t] %-5p %c - %m %ex%n</pattern>
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${user.dir}/logs/tomcat-manager-cmd-test.%d{yyyy-MM-dd-HH}.log.zip</fileNamePattern>
        </rollingPolicy>
    </appender>


    <logger name="konrad.tools.tomcat" level="DEBUG">
        <appender-ref ref="ROLLING_FILE"/>
    </logger>

    <root level="INFO">
        <appender-ref ref="CONSOLE"/>
    </root>
</configuration>